* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
.app {
  background: rgb(106, 43, 240);
   background: linear-gradient(45deg, rgb(106, 43, 240) 10%, rgb(139, 132, 222) 100%);
  display: grid;
  place-content: center;
  min-height: 100vh;
}
 